.header {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  z-index: 1000;
  font-family: monospace;
  backdrop-filter: blur(5px);
}

.header-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header-title h1 {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
}

.header-title p {
  margin: 0;
  font-size: 14px;
  opacity: 0.7;
}

.latest-mints ul {
  list-style: none;
  padding: 0;
  margin: 4px 0;
}

.latest-mints li {
  font-size: 12px;
  margin-bottom: 6px;
  opacity: 0.7;
  line-height: 1.4;
  white-space: nowrap;
}

/* Desktop styles */
@media (min-width: 481px) {
  .header {
    width: max-content;
    border-radius: 4px;
    cursor: move;
    user-select: none;
    padding: 16px;
    height: fit-content;
    transform-origin: top left;
  }
  
  .header-content {
    width: max-content;
  }
}

/* Mobile styles */
@media (max-width: 480px) {
  .header {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 12px;
  }
} 